
  body {
    background: url(../img/duotone-2.png);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }

  .clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid rgb(44, 44, 44);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.68, 0.6, 0.99);
  }

  .second-hand{
    height: 3px;
  }

  .hour-hand{
    width: 40%;
    height: 13px;
    left:10%
  }

  .cent{
    width: 1rem;
    height: 1rem;
    border: 2px solid rgb(44, 44, 44);
    border-radius: 50%;
    margin: 190px auto;
    left: 48.2%;
    top: 14%;
    position: absolute;
    background: whitesmoke;
    z-index: 2;
  }